*{
    font-family: "Montserrat"
  }
  body{
    background-color: #222730;
    padding:0px;
    margin:0px;
    color: white;
  }
  header{
    background-color: #d487f5;
    height: 5vh;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    padding: 5px;
    justify-content: space-between;
  }
  a{
    padding: 0.5vw;
    text-decoration: none;
  }
  a:hover{
    color: white;
  }
  .logo{
    padding:2vw;
    font-size: 2.5vh;
  }
  .welcome{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: #ff6b8b;
  }
  .info{
    font-size: 3vh;
  }
  .alfie{
    width: 3vw;
    height: 3vw;
  }
  .img{
    width: 3vw;
    height: 3vw;
  }
  .jawline{
    font-size: 1vh;
  }
  